body {
  font-family: "Palanquin", sans-serif;
}

h1,
.navegacion__titulo {
  font-family: "Passion One", cursive;
  font-size: 2rem;
}

.seccionInicio__boton {
  font-family: "Passion One", cursive;
  font-size: 1.5rem;
}

h2,
h3,
h4,
h5,
h6,
.navegacion__link {
  font-family: "Heebo", sans-serif;
}

.seccionInicio {
  background-image: url(/assets/img/inicioIndex.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.seccionInicio__titulo {
  color: white;
}
.seccionInicio__boton {
  background-color: rgb(109, 0, 25);
  color: white;
}
.seccionInicio__boton:hover {
  background-color: aliceblue;
  color: rgb(109, 0, 25);
}

hr {
  border: 2px solid black;
}

.seccionAct {
  background-image: url(/assets/img/inicioAct.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.seccionAct__contenedor {
  padding: 17.3vh;
}
.seccionAct__subtitulo {
  color: black;
}
.seccionAct__titulo, .seccionAct__descripcion {
  color: white;
}
.seccionAct__profe {
  text-decoration: none;
  color: grey;
}
.seccionAct__profe:hover {
  text-decoration: underline;
  color: black;
}

.seccionAct__contenedor {
  padding: 20vh;
}

.act__contenedor {
  border-radius: 0%;
  border-color: white;
}
.act__contenedor .act__imagen {
  border-radius: 5px;
}
.act__contenedor .act__titulo {
  background-color: rgba(231, 231, 231, 0.404);
}

@media (max-width: 575px) {
  .seccionAct__contenedor {
    padding: 5vh;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .seccionAct__contenedor {
    padding: 10vh;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .seccionAct__contenedor {
    padding: 13vh;
  }
}
@media (min-width: 992px) {
  .seccionAct__contenedor {
    padding: 17.3vh;
  }
}
.seccionProduc {
  background-image: url(/assets/img/inicioProduc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.seccionProduc__contenedor {
  padding: 20vh;
}
.seccionProduc__titulo {
  color: white;
}
.seccionProduc__descripcion {
  color: white;
}

@media (max-width: 575px) {
  .seccionProduc__contenedor {
    padding: 5vh;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .seccionProduc__contenedor {
    padding: 10vh;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .seccionProduc__contenedor {
    padding: 15vh;
  }
}
@media (min-width: 992px) {
  .seccionProduc__contenedor {
    padding: 20vh;
  }
}
.seccionAbout {
  background-image: url(/assets/img/inicioAbout.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.seccionAbout__contenedor {
  padding: 20vh;
}
.seccionAbout__titulo, .seccionAbout__descripcion {
  color: white;
}

.seccionProfe__nombre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccionProfe__foto {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.seccionProfe__descripcion {
  background-color: rgb(243, 243, 243);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media (max-width: 575px) {
  .seccionAbout__contenedor {
    padding: 5vh;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .seccionAbout__contenedor {
    padding: 10vh;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .seccionAbout__contenedor {
    padding: 15vh;
  }
}
@media (min-width: 992px) {
  .seccionAbout__contenedor {
    padding: 20vh;
  }
}
.seccionContacto {
  background-image: url(/assets/img/inicioContacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.seccionContacto__contenedor {
  padding: 20vh;
}
.seccionContacto__titulo, .seccionContacto__descripcion {
  color: white;
}

.btn {
  background-color: rgb(109, 0, 25);
  color: white;
}

@media (max-width: 575px) {
  .seccionContacto__contenedor {
    padding: 5vh;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .seccionContacto__contenedor {
    padding: 10vh;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .seccionContacto__contenedor {
    padding: 15vh;
  }
}
@media (min-width: 992px) {
  .seccionContacto__contenedor {
    padding: 20vh;
  }
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  transform: scale(1.1);
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.contacto__red--ig:hover, .contacto__red--face:hover, .contacto__red--wsp:hover, .contacto__red--mail:hover {
  background-image: url(/assets/img/instagram-hover.png);
}

.contacto__red--face:hover {
  background-image: url(/assets/img/facebook-hover.png);
}

.contacto__red--wsp:hover {
  background-image: url(/assets/img/whatsapp-hover.png);
}

.contacto__red--mail:hover {
  background-image: url(/assets/img/correo-electronico-hover.png);
}

.navegacion {
  color: white;
}
.navegacion__foto {
  width: 60px;
}
.navegacion__link {
  text-decoration: none;
  color: white;
}
.navegacion__link:hover {
  color: black !important;
  text-decoration: underline;
}

.offcanvas {
  background-color: #272932;
}

footer {
  width: 100%;
  position: absolute;
  padding: 10px;
  background-color: #272932;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.contacto__red--ig, .contacto__red--face, .contacto__red--wsp, .contacto__red--mail {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 3px solid rgb(0, 0, 0);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  margin: 1rem;
}
.contacto__red--ig, .contacto__red--face, .contacto__red--wsp, .contacto__red--mail {
  background-image: url(/assets/img/instagram2.png);
}
.contacto__red--face {
  background-image: url(/assets/img/facebook-2.png);
}
.contacto__red--wsp {
  background-image: url(/assets/img/whatsapp2.png);
}
.contacto__red--mail {
  background-image: url(/assets/img/correo-electronico2.png);
}
.contacto__foto {
  height: 80px;
  margin: 1rem;
}
.contacto__copy {
  opacity: 0.3;
}

/*# sourceMappingURL=styles.css.map */
