
*{
    overflow-x: hidden;
}
/* Header y Navbar */
    header{
        background-color: #881717;
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .nav-link{
        text-decoration: none;
        color: white;
    }

    .nav-link:hover{
        color: black;
        text-decoration: underline;
    }

/* Main */

    .container2{
        background-image: url(./assets/img/inicio.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .inicio{
        background-color: rgba(0, 0, 0, 0.362);
        color: white;
    }

    .btn{
        background-color:#9f9fa0;
        color: white;
    }

    .btn:hover{
        background-color: white;
        color: #9f9fa0;
    }

    .container3{
        background-color: #E7ECEF;
    }

    .tituloAct{
        background-color: #9f9fa0;
    }

    h3{
        background-color: #9f9fa0;
    }

/* Footer */
    footer{
        width: 100%;
        position: absolute;
        padding: 10px;
        background-color: #272932;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contacto__foto{
        height: 80px;
        margin: 1rem;
    }

    .contacto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    .contacto__copy{
        opacity: 0.3;
    }

    /* Instagram */
    .contacto__red--ig{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 1px solid rgb(255, 255, 255);
        background-image:url(./assets/img/instagram.png);
        background-position: center;
        background-size: 60%;
        background-repeat: no-repeat;
        margin: 1rem;
    }

    /* Facebook */
    .contacto__red--face{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 1px solid rgb(255, 255, 255);
        background-image:url(./assets/img/facebook.png);
        background-position: center;
        background-size: 60%;
        background-repeat: no-repeat;
        margin: 1rem;
    }

    /* Whatsapp */
    .contacto__red--wsp{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 1px solid rgb(255, 255, 255);
        background-image:url(./assets/img/whatsapp.png);
        background-position: center;
        background-size: 60%;
        background-repeat: no-repeat;
        margin: 1rem;
    }

    /* Correo */
    .contacto__red--mail{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 1px solid rgb(255, 255, 255);
        background-image:url(./assets/img/correo-electronico.png);
        background-position: center;
        background-size: 60%;
        background-repeat: no-repeat;
        margin: 1rem;
    }
