*{
    padding: 0;
    margin: 0;
    box-sizing: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(10, 10, 10);
    overflow-x:hidden;
}
/* ---------- Header ---------- */
header{
    display: flex;
    height: 100%;
    background-color: #881717;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

    /* MEDIA QUERIS HEADER */
    @media screen and (min-width: 320px){
        header{
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and (min-width: 600px){
        header{
            display: flex;
            flex-direction: column;
            }
    }

    @media screen and (min-width: 1024px){
        header{
            display: flex;
            flex-direction: row;
            }
    }

.navegacion{
    display: flex;
    align-items: center;
}

.navegacion__titulo{
    color: white;
}

.navegacion__boton{
    display: inline;
}

.navegacion__boton a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding-right: 9px;
}

.navegacion__boton a:hover{
    text-decoration: underline;
}

/* -------------------------------------- Main Index ------------------------------------- */
    /* Seccion inicio */
.seccionInicio{
    padding: 5vw;
    background-image: url(./assets/img/inicio.jpg);
    background-size: cover;
    background-position: center;
}

.seccionInicio__contenedor{
    background-color: rgba(0, 0, 0, 0.704);
    
    display: flex;
    flex-direction: column;
}

.seccionInicio__logo, .seccionInicio__titulo{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.seccionInicio__imagen{
    display: flex;
    justify-content: center;
}

.seccionInicio__logo{
    padding: 10px;
    height: 25vw;
}

.seccionInicio__titulo{
    font-style: italic;
    font-size: 3rem;
}

.seccionInicio__boton{
    text-decoration: none;

    font-size: 24px;
    font-weight: 700;

    padding: 4px 12px;

    background-color: #6c757d;
    color: white;

    border-radius: 4px;
    border-color:#6c757d;
}

.seccionInicio__contenedor--boton{
    padding-top: 6px;
    padding-bottom: 9px;
    
    display: flex;
    justify-content: center;
}

    /* ----------Seccion Gimnasio----------- */
.seccionGym{
    background-color: #E7ECEF;
 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

        /* MEDIA QUERIES SECCION GYM */
    @media screen and (min-width: 320px){
        .seccionGym{
            display: flex;
            flex-direction: column;
        }

        .seccionGym__foto{
            width: auto;
            max-height: 200px;
        }
    }

    @media screen and (min-width: 600px){
        .seccionGym__contenedor{
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
        }
    }

    @media screen and (min-width: 1024px){
        .seccionGym__titulo{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .seccionGym__contenedor{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);

            overflow-x: hidden;
        }
    }

.seccionGym__titulo{
    background-color: #6c757d;
    color: white;

    padding-top: 5px;
    padding-bottom: 7px;

    text-align: center;

    grid-column: 1/5;
}

.seccionGym__contenedor{
    /* background-color: rgb(209, 209, 209); */

    padding-top: 6%;
    padding-bottom: 6%;
}

    /* Futuro carrusel de fotos */
.seccionGym__foto{
    width: 90%;
    padding: 10px;

    display: flex;
    justify-self: center;
}

    /* -----------Seccion Nosotros----------- */
.seccionNosotros{
    background-color: #E7ECEF;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 35px 1fr;
    column-gap: 10px; ;
}
        /* MEDIA QUERIES SECCION NOSOTROS */
    @media screen and (min-width: 320px) {
        .seccionNosotros{
            display: flex;
            flex-direction: column;

            padding: 5px;
        }
        
        .seccionNosotros__titulo, .seccionNosotros__ubicacion{
            padding: 5px;
        }
    }

    @media screen and (min-width: 600px) {
        .seccionNosotros{
            display: flex;
            flex-direction: column;
        }
        
        .seccionNosotros__titulo, .seccionNosotros__ubicacion{
            padding: 10px;
        }
    }

    @media screen and (min-width: 1024px) {
        .seccionNosotros{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 35px 1fr;
            column-gap: 10px; ;
        }
    }

.seccionNosotros__titulo, .seccionNosotros__ubicacion{
    background-color:  #6c757d;
    color: white;
    border-radius: 10px;

    text-align: center;
}

.seccionNosotros__titulo{
    grid-column: 1/3;
    grid-row: 1;
}

.seccionNosotros__ubicacion{
    grid-column: 3/5;
    grid-row: 1;
}

.seccionNosotros__descripcion{
    padding: 10px;

    text-align: center;

    grid-column: 1/3;
    grid-row: 2;
}

.seccionNosotros__descripcion--dos{
    padding: 10px;
    display: flex;
    align-items: center;

    text-align: center;

    grid-column: 3/4;
    grid-row: 2;
}

.seccionNosotros__ubicacion--mapa{
    padding: 2%;
    width: 100%;

    display: flex;
    justify-self: center;

    border: 0;

    grid-column: 4/5;
    grid-row: 2;
}
    /* Seccion Actividades */
.seccionActividades{
    background-color: #e7ecef;
    padding: 10px;
}

.seccionActividades__titulo{
    background-color: #6c757d;
    color: white;
    padding: 10px;
    text-align: center;

    border-radius: 10px;
}

.seccionActividades__act a{
    text-decoration: none;
    color: black;
}

.seccionActividades__act a:hover{
    text-decoration:underline;
}

/* -------------------------------------- Main Actividades ------------------------------------- */

.actividad__titulo{
    padding: 10px;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actividad__seccion{
    background-color: #343a40;
}

/* Actividades lado izquierdo */
.actividad__1, .actividad__3, .actividad__5{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

/* Actividades lado derecho */
.actividad__2, .actividad__4, .actividad__6{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.actividad__foto{
    width: 200px;
}

/* -------------------------------------- Main productos ------------------------------------- */
.productos__seccion{
    background-color: #E7ECEF;
}

.productos__contenedor{
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: repeat(3, 1fr);

    row-gap: 20px;
    column-gap: 20px;

    justify-items: center;
}

.producto__titulo, .producto__titulo--2{
    padding: 10px;
    background-color: #6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto{
    background-color: #6c757d;
    border-radius: 10px;
    height: 300px;
}

.producto__nombre{
    text-align: center;
}

.producto__foto{
    display: flex;
    justify-content: center;

    padding: 10px;
    width: 200px;
    height: 200px;
}

.producto__boton{
    display: flex;
    justify-content: center;
}

.producto__ver{
    background-color: #E7ECEF;
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size:medium;
    border: 3px solid rgb(72, 72, 72);
    border-radius: 5px;
}
/* -------------------------------------- Main About Us ------------------------------------- */
.aboutUs__seccion{
    background-color: #343a40;
}

.aboutUs__titulo{
    background-color: #212529;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.aboutUs__profesor--gym{
    padding: 5px;
    background-color: #495057;
}

.aboutUs__profesor--artesm{
    padding: 5px;
    background-color:#6c757d;
}

.aboutUs__foto{
    width: 200px;
}

/* -------------------------------------- Main contacto ------------------------------------- */
.contacto__seccion{
    background-color: #343a40;
}

.contacto__titulo{
    background-color: #212529;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.formulario{
    background-color: #495057;
    height: 600px;

    margin-left: 500px;
    margin-right: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto__titulo--2{
    font-size: 2rem;
    padding: 30px;
}

/* ---------- Footer ---------- */
footer{
    width: 98.3%;
    position: absolute;
    padding: 10px;
    background-color: #272932;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto__foto{
    height: 80px;
    margin: 1rem;
}

.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.contacto__copy{
    opacity: 0.3;
}

/* Instagram */
.contacto__red--ig{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-image:url(./assets/img/instagram.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin: 1rem;
}

/* Facebook */
.contacto__red--face{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-image:url(./assets/img/facebook.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin: 1rem;
}

/* Whatsapp */
.contacto__red--wsp{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-image:url(./assets/img/whatsapp.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin: 1rem;
}

/* Correo */
.contacto__red--mail{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-image:url(./assets/img/correo-electronico.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin: 1rem;
}


