* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: rgba(224, 224, 224, 1);
    background: -moz-linear-gradient(45deg, rgba(224, 224, 224, 1) 0%, rgba(224, 224, 224, 1) 47%, rgba(255, 255, 255, 1) 47%, rgba(242, 242, 242, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(224, 224, 224, 1)), color-stop(47%, rgba(224, 224, 224, 1)), color-stop(47%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
    background: -webkit-linear-gradient(45deg, rgba(224, 224, 224, 1) 0%, rgba(224, 224, 224, 1) 47%, rgba(255, 255, 255, 1) 47%, rgba(242, 242, 242, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(224, 224, 224, 1) 0%, rgba(224, 224, 224, 1) 47%, rgba(255, 255, 255, 1) 47%, rgba(242, 242, 242, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(224, 224, 224, 1) 0%, rgba(224, 224, 224, 1) 47%, rgba(255, 255, 255, 1) 47%, rgba(242, 242, 242, 1) 100%);
    background: linear-gradient(45deg, rgba(224, 224, 224, 1) 0%, rgba(224, 224, 224, 1) 47%, rgba(255, 255, 255, 1) 47%, rgba(242, 242, 242, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#f2f2f2', GradientType=1);
}

/* ---------------Header y Navbar--------------- */
nav {
    background: rgba(169, 3, 41, 1);
    background: -moz-linear-gradient(left, rgba(169, 3, 41, 1) 0%, rgba(109, 0, 25, 1) 0%, rgba(109, 0, 25, 1) 57%, rgba(124, 1, 29, 1) 76%, rgba(143, 2, 34, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(0%, rgba(109, 0, 25, 1)), color-stop(57%, rgba(109, 0, 25, 1)), color-stop(76%, rgba(124, 1, 29, 1)), color-stop(100%, rgba(143, 2, 34, 1)));
    background: -webkit-linear-gradient(left, rgba(169, 3, 41, 1) 0%, rgba(109, 0, 25, 1) 0%, rgba(109, 0, 25, 1) 57%, rgba(124, 1, 29, 1) 76%, rgba(143, 2, 34, 1) 100%);
    background: -o-linear-gradient(left, rgba(169, 3, 41, 1) 0%, rgba(109, 0, 25, 1) 0%, rgba(109, 0, 25, 1) 57%, rgba(124, 1, 29, 1) 76%, rgba(143, 2, 34, 1) 100%);
    background: -ms-linear-gradient(left, rgba(169, 3, 41, 1) 0%, rgba(109, 0, 25, 1) 0%, rgba(109, 0, 25, 1) 57%, rgba(124, 1, 29, 1) 76%, rgba(143, 2, 34, 1) 100%);
    background: linear-gradient(to right, rgba(169, 3, 41, 1) 0%, rgba(109, 0, 25, 1) 0%, rgba(109, 0, 25, 1) 57%, rgba(124, 1, 29, 1) 76%, rgba(143, 2, 34, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#8f0222', GradientType=1);

    color: white;
}

.titulo__nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}

.navegacion__foto {
    width: 60px;
}

.nav-link {
    text-decoration: none;
    color: white;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
}

.seccionInicio {
    background-image: url(./assets/img/inicio.jpg);
    height: 91vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------------------Main------------------ */

h1,
h2,
h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.seccionInicio__boton {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(109, 0, 25, 1);
    color: white;

}

.seccionInicio__boton:hover {
    background-color: aliceblue;
    color: rgba(109, 0, 25, 1);
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* ------------Footer------------- */
footer {
    width: 100%;
    position: absolute;
    padding: 10px;
    background-color: #272932;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto__foto {
    height: 80px;
    margin: 1rem;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.contacto__copy {
    opacity: 0.3;
}

/* Instagram */
.contacto__red--ig {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-image: url(./assets/img/instagram.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin: 1rem;
}

/* Facebook */
.contacto__red--face {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-image: url(./assets/img/facebook.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin: 1rem;
}

/* Whatsapp */
.contacto__red--wsp {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-image: url(./assets/img/whatsapp.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin: 1rem;
}

/* Correo */
.contacto__red--mail {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-image: url(./assets/img/correo-electronico.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin: 1rem;
}