// ------------Navbar------------- //
.navegacion {
    background: rgba(169, 3, 41, 1);
    background: -moz-linear-gradient(left, rgba(169, 3, 41, 1) 0%, rgba(109, 0, 25, 1) 0%, rgba(109, 0, 25, 1) 57%, rgba(124, 1, 29, 1) 76%, rgba(143, 2, 34, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(0%, rgba(109, 0, 25, 1)), color-stop(57%, rgba(109, 0, 25, 1)), color-stop(76%, rgba(124, 1, 29, 1)), color-stop(100%, rgba(143, 2, 34, 1)));
    background: -webkit-linear-gradient(left, rgba(169, 3, 41, 1) 0%, rgba(109, 0, 25, 1) 0%, rgba(109, 0, 25, 1) 57%, rgba(124, 1, 29, 1) 76%, rgba(143, 2, 34, 1) 100%);
    background: -o-linear-gradient(left, rgba(169, 3, 41, 1) 0%, rgba(109, 0, 25, 1) 0%, rgba(109, 0, 25, 1) 57%, rgba(124, 1, 29, 1) 76%, rgba(143, 2, 34, 1) 100%);
    background: -ms-linear-gradient(left, rgba(169, 3, 41, 1) 0%, rgba(109, 0, 25, 1) 0%, rgba(109, 0, 25, 1) 57%, rgba(124, 1, 29, 1) 76%, rgba(143, 2, 34, 1) 100%);
    background: linear-gradient(to right, rgba(169, 3, 41, 1) 0%, rgba(109, 0, 25, 1) 0%, rgba(109, 0, 25, 1) 57%, rgba(124, 1, 29, 1) 76%, rgba(143, 2, 34, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#8f0222', GradientType=1);

    color: white;

    .navegacion__titulo {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: xx-large;
    }

    .navegacion__foto {
        width: 60px;
    }

    .navegacion__link {
        text-decoration: none;
        color: white;
    
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: medium;
    
        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
}