// -------------Main------------- //
.actividades__row2 {
    background-image: url(/assets/img/inicio-act.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 40vh;
}

.actividades__col2 {
    background-color: rgba(0, 0, 0, 0.355) !important;
}

.titulo__act,
.descripcion__act {
    color: white;

}