// -------------Main------------- //
.seccionAct {
    background-image: url(/assets/img/inicioAct.jpg);
    @include portadas;

    &__contenedor{
        padding: 17.3vh !important; 
    }

    &__subtitulo {
        color: black;
    }
    &__titulo,
    &__descripcion {
        color: map-get($colores, "letras" );
    }
}

.seccionAct__contenedor{
    padding: 20vh;
}

.act__contenedor {
    border-radius: 0%;
    border-color: white;

    .act__imagen {
        border-radius: 5px;
    }
    .act__titulo {
        background-color: rgba(231, 231, 231, 0.404);
    }
}