.seccionInicio {
    background-image: url(/assets/img/inicioIndex.jpg);
    @include portadas;

    &__boton {
        background-color: map-get($colores, "color-primario");
        color: map-get($colores, "letras");

        &:hover {
            background-color: aliceblue;
            color: map-get($colores, "color-primario");
        }
    }
}