
.seccionInicio {
    background-image: url(/assets/img/inicio.jpg);
    height: 91vh;
    background-repeat: no-repeat;
    background-size: cover;

    &__boton {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgba(109, 0, 25, 1);
        color: white;
    
        &:hover {
            background-color: aliceblue;
            color: rgba(109, 0, 25, 1);
        }
    }
}