.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;

    &:hover,
    &:focus,
    &:active {
        transform: scale(1.1);
    }
}

.contacto__red--ig:hover{
    background-image: url(/assets/img/instagram-hover.png);
}

.contacto__red--face:hover{
    background-image: url(/assets/img/facebook-hover.png);
}

.contacto__red--wsp:hover{
    background-image: url(/assets/img/whatsapp-hover.png);
}

.contacto__red--mail:hover{
    background-image: url(/assets/img/correo-electronico-hover.png);
}


