body {
    background: rgba(224, 224, 224, 1);
    background: -moz-linear-gradient(45deg, rgba(224, 224, 224, 1) 0%, rgba(224, 224, 224, 1) 47%, rgba(255, 255, 255, 1) 47%, rgba(242, 242, 242, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(224, 224, 224, 1)), color-stop(47%, rgba(224, 224, 224, 1)), color-stop(47%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
    background: -webkit-linear-gradient(45deg, rgba(224, 224, 224, 1) 0%, rgba(224, 224, 224, 1) 47%, rgba(255, 255, 255, 1) 47%, rgba(242, 242, 242, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(224, 224, 224, 1) 0%, rgba(224, 224, 224, 1) 47%, rgba(255, 255, 255, 1) 47%, rgba(242, 242, 242, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(224, 224, 224, 1) 0%, rgba(224, 224, 224, 1) 47%, rgba(255, 255, 255, 1) 47%, rgba(242, 242, 242, 1) 100%);
    background: linear-gradient(45deg, rgba(224, 224, 224, 1) 0%, rgba(224, 224, 224, 1) 47%, rgba(255, 255, 255, 1) 47%, rgba(242, 242, 242, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#f2f2f2', GradientType=1);
}